@font-face {
    font-family: "OpenSans-Regular";
    src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "MeriendaOne-Regular";
    src: url("./assets/fonts/MeriendaOne-Regular.ttf") format("truetype");
}
main {
    font-family: "OpenSans-Regular";
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
            rgba(36, 36, 62, 0.5),
            rgba(48, 43, 99, 0.5),
            rgba(15, 12, 41, 0.5)
        ),
        url("./assets/images/bg.jpg") 50% 50% / cover;
}

.loading {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.game-center {
    padding: 4rem 0;
}

.image-container img {
    width: 100%;
    max-height: 20rem;
}

.word-container {
    text-align: center;
}
.word-container .blanks-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.word-container .blanks-container div {
    color: white;
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 1.25rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}
.word-container .blanks-container div.blank {
    background-color: #1b268a;
}
.word-container .blanks-container div.founded {
    background-color: #2264ff;
}
.word-container p.word-description {
    color: white;
    font-size: 1.05rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    font-family: "MeriendaOne-Regular";
}
.word-container h3.count-correct-words {
    margin-bottom: 1.5rem;
    color: white;
}
.word-container h3.count-correct-words span {
    color: var(--danger-500);
}
.word-container h3.count-guesses {
    margin-bottom: 1.75rem;
    color: var(--danger-500);
}
.word-container .letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25rem;
}
.word-container .letters button.letter {
    width: 2.75rem;
    height: 2.75rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background-color: white;
    color: #312765;
    text-transform: uppercase;
    font-weight: bold;
}
.word-container .letters button.letter.founded-letter {
    background-color: #5568ac;
}

.modal {
    font-family: "MeriendaOne-Regular";
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    transform: translateX(100%);
    transition: transform 0.5s;
}
.modal.show-modal {
    transform: translateX(0);
}
.modal-center {
    width: 75%;
    text-align: center;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: white;
}
.modal-center p {
    line-height: 1.4;
    margin-bottom: 1.5rem;
}
.modal-center ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}
.modal-center ul svg {
    font-size: 2rem;
    color: var(--warning-500);
}
@keyframes bounceFirst {
    0% {
        transform: scale(10);
    }
    16.66% {
        transform: scale(10);
    }
    33.33% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounceSecond {
    0% {
        transform: scale(10);
    }
    33.33% {
        transform: scale(10);
    }
    50% {
        transform: scale(10);
    }
    66.66% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes bounceThird {
    0% {
        transform: scale(10);
    }
    66.66% {
        transform: scale(10);
    }
    83.33% {
        transform: scale(10);
    }
    100% {
        transform: scale(1);
    }
}
